.header {
    // position: fixed;
    background-color: #BB9A4B;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 16px 5px rgba(#030303, 0.4);
    @media screen and (min-width: 720px) {
        height: 14.625rem;
    }
    &__logo_mobile {
        img {
            &:focus-visible {
                outline-color: #bb9a4b;
            }
        }
        @media screen and (min-width: 720px) {
            display: none;
        }
    }
    &__logo_desktop {
        display: none;
        @media screen and (min-width: 720px) {
            display: block;
            img {
                &:focus-visible {
                    outline-color: #bb9a4b;
                }
            }
        }
    }
}
