.photo_gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;

    @media screen and (min-width: 432px) {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
    @media screen and (min-width: 830px) {
        grid-template-columns: 50% 50%;
    }

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#030303, 0.15);
        border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        content: "";
        @media screen and (min-width: 830px) {
            border-radius: 10px;
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        &:nth-child(1) {
            img {
                border-top-left-radius: 10px;
            }
        }
        &:nth-child(2) {
            img {
                border-top-right-radius: 0px;
                @media screen and (min-width: 830px) {
                    border-top-right-radius: 10px;
                }
            }
        }
        &:nth-child(3) {
            img {
                border-bottom-left-radius: 0px;
                @media screen and (min-width: 830px) {
                    border-bottom-left-radius: 10px;
                }
            }
        }
        &:nth-child(4) {
            img {
                border-bottom-right-radius: 0px;
                @media screen and (min-width: 830px) {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}
