  @font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
